.row-main {
    display: flex;
    flex-wrap: wrap;
    width: 102%;
    margin: 0px -1% 0px -1%;
    
}
.country-card {
    background-color: rgba(255, 255, 255, 0.3); 
    border: 1px solid ;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    flex-basis: 10.5%;
    height: 50px;
    display: flex; /* Используем flex-контейнер */
    text-align: center;
    justify-content: center;
    margin: 0px 1% 10px 1%;
    overflow: hidden;
}

.popoir {
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    text-align: right;
    font-size: 16px;
}

.search-bar {
    display: flex;
    width: 101%;
    margin: 0px 0px 20px 0px;
}